<div *ngIf="run">

  <h2>{{run.date}} - {{run.title}}: Details</h2>
  <div><span>Distance: </span>{{run.distance}}</div>
  <div *ngIf="run.time"><span>Time: </span>{{run.time}}</div>
  <div *ngIf="run.time"><span>Speed: </span>{{run.avspeed}}</div>
  <div><span>Training: </span>{{run.training.name}}</div>
  <div><span>Comment: </span>{{run.comment}}</div>
  <button (click)="showHideEdit()">{{editButton}}</button>
  <div *ngIf="showUpdateRun">
    <label>name:
      <input [(ngModel)]="editRun.title" placeholder="new title" value="{{editRun.title}}"/>
    </label>
    <br>
    <label>distance:
      <input [(ngModel)]="editRun.distance" placeholder="new distance" value="{{editRun.distance}}"/>
    </label>
    <br>
    <label>time:
      <input [(ngModel)]="editRun.time" placeholder="new time" value="{{editRun.time}}"/>
    </label>
      <br>
    <label>comment:
      <input [(ngModel)]="editRun.comment" placeholder="new comment" value="{{editRun.comment}}"/>
    </label>
    <br>
    <label>training:
        <select [(ngModel)]="editRun.training">
          <option *ngFor="let t of trainings" [ngValue]="t">{{t.name}}</option>
        </select>
      </label>
    <button (click)="updateRun(editRun)"> test update</button>
  </div>

</div>