.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color:#bee5eb;
    color:#0c5460;
    border-radius: 0rem;
    }

.nav-pills .nav-link  {
    color: #0c5460;
}

.card {
    border-radius: 0rem;
    border: none;
}
