.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color:#bee5eb;
    color:#0c5460;
    border-radius: 0rem;
    }

.nav-pills .nav-link  {
    color: #0c5460;
}

.card {
    border:1px solid rgba(0,0,0,.125);
}

#runDetailContainer{
    padding: 0px;
}

#runDetailTabs{
    padding: 1rem;
    border-top:1px solid rgba(0,0,0,.125);
}

#editPreview{
    border-right: 1px solid rgba(0,0,0,.125);
}
#editPreviewBody {
    padding-top: 0px;
}