<div *ngIf="run">

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{run.title}}: Details</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{run.date}} - {{run.distance}} km</h6>
      <p class="card-text" *ngIf="run.time" ><span>Time: </span>{{run.time}} min</p>
      <p class="card-text" *ngIf="run.time" ><span>Speed: </span>{{run.avspeed}} min/km</p>
      <p class="card-text"><span>Training: </span>{{run.training.name}}</p>
      <p class="card-text"><span>Comment: </span>{{run.comment}}</p>
      <button (click)="showHideEdit()" class="btn btn-primary">{{editButton}}</button>
     
    </div>
  </div>

  <div *ngIf="showUpdateRun">
    <label>name:
      <input [(ngModel)]="editRun.title" placeholder="new title" value="{{editRun.title}}"/>
    </label>
    <br>
    <label>distance:
      <input [(ngModel)]="editRun.distance" placeholder="new distance" value="{{editRun.distance}}"/>
    </label>
    <br>
    <label>time:
      <input [(ngModel)]="editRun.time" placeholder="new time" value="{{editRun.time}}"/>
    </label>
      <br>
    <label>comment:
      <input [(ngModel)]="editRun.comment" placeholder="new comment" value="{{editRun.comment}}"/>
    </label>
    <br>
    <label>training:
        <select [(ngModel)]="editRun.training">
          <option *ngFor="let t of trainings" [ngValue]="t">{{t.name}}</option>
        </select>
      </label>
    <button (click)="updateRun(editRun)"> test update</button>
  </div>

</div>