<div *ngIf="run" class="container-fluid" id="runDetailContainer">
  <div class="card">
    <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
          aria-selected="true">Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="edit-tab" data-toggle="tab" href="#edit" role="tab" aria-controls="profile"
          aria-selected="false">Edit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="delete-tab" data-toggle="tab" href="#delete" role="tab" aria-controls="delete"
          aria-selected="false">Delete</a>
      </li>

    </ul>
    <div class="tab-content" id="runDetailTabs">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <h5 class="card-title">{{run.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{run.date}} - {{run.distance}} km</h6>
        <p class="card-text" *ngIf="run.time"><span>Time: </span>{{run.time}} min</p>
        <p class="card-text" *ngIf="run.time"><span>Speed: </span>{{run.avspeed}} min/km</p>
        <p class="card-text"><span>Training: </span>{{run.training.name}}</p>
        <p class="card-text"><span>Comment: </span>{{run.comment}}</p>
        <hr>
        <div class="card-body">
          <div class="card-text" *ngIf="(unfinishedCheck(run.status))">
            <div class="form-group row">
              <label for="inputDistance" class="col-sm-2 col-form-label">Distance</label>
              <div class="col-sm-7">
                <input type="number" min="0" class="form-control form-control-sm" id="inputDistance" placeholder="Distance"
                  [(ngModel)]="run.distance" placeholder="distance" value="{{run.distance}}">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputTime" class="col-sm-2 col-form-label">Time</label>
              <div class="col-sm-7">
                <input type="number" min="0" class="form-control form-control-sm" id="inputTime" [(ngModel)]="run.time"
                  placeholder="time" value="{{run.time}}">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputScore" class="col-sm-2 col-form-label">Score</label>
              <div class="col-sm-7">
                <input type="number" min="1" max="10" class="form-control form-control-sm" id="inputScore" [(ngModel)]="run.score"
                  placeholder="how did it go?" value="{{run.score}}">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputComment" class="col-sm-2 col-form-label">Comment</label>
              <div class="col-sm-7">
                <input type="text" class="form-control form-control-sm" id="inputComment" [(ngModel)]="run.comment"
                  placeholder="comment" value="{{run.comment}}">
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-7">
                <button class="btn btn-info" (click)="finishRun(run)"> I finished this run! </button>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="tab-pane fade" id="edit" role="tabpanel" aria-labelledby="edit-tab">
        <div class="row">
          <div class="col-sm-5" id="editPreview">
            <div class="card-body" id="editPreviewBody">
              <h5 class="card-title">{{run.title}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{run.distance}} km, in {{run.time}} min, pace: {{run.avspeed}}</h6>
              <p class="card-text"> You scored this run {{run.score}} / 10 <br> <small *ngIf="!run.score">(You haven't
                  rated it yet!)</small></p>
              <p class="card-text"> Comment: <br> {{run.comment}} </p>
              <p class="card-text"> Training: {{run.training.name}} </p>
            </div>

          </div>
          <div class="col-md">
            <div class="form-group row">
              <label for="editTitle" class="col-sm-2 col-form-label">Title</label>
              <div class="col-sm-10">
                <input type="text" class="form-control form-control-sm" id="editTitle" placeholder="title" [(ngModel)]="run.title"
                  placeholder="new title" value="{{run.title}}">
              </div>
            </div>
            <div class="form-group row">
              <label for="editDistance" class="col-sm-2 col-form-label">Distance</label>
              <div class="col-sm-10">
                <input type="number" min="0" class="form-control form-control-sm" id="editDistance" [(ngModel)]="run.distance"
                  placeholder="new distance" value="{{run.distance}}">
              </div>
            </div>
            <div class="form-group row">
              <label for="editTime" class="col-sm-2 col-form-label">Time</label>
              <div class="col-sm-10">
                <input type="number" min="1" max="10" class="form-control form-control-sm" id="editTime" [(ngModel)]="run.time"
                  placeholder="new time" value="{{run.time}}">
              </div>
            </div>
            <div class="form-group row">
              <label for="editScore" class="col-sm-2 col-form-label">Score</label>
              <div class="col-sm-10">
                <input type="number" min="1" max="10" class="form-control form-control-sm" id="scoreScore" [(ngModel)]="run.score"
                  placeholder="how did it go?" value="{{run.score}}">
              </div>
            </div>
            <div class="form-group row">
              <label for="editComment" class="col-sm-2 col-form-label">Comment</label>
              <div class="col-sm-10">
                <input type="text" class="form-control form-control-sm" id="editComment" [(ngModel)]="run.comment"
                  placeholder="comment" value="{{run.comment}}">
              </div>
            </div>
            <div class="form-group row">
              <label for="editTraining" class="col-sm-2 col-form-label">Training</label>
              <div class="col-sm-10">
                <select [(ngModel)]="run.training" class="form-control form-control-sm" id="editTraining">
                  <option *ngFor="let t of trainings" [ngValue]="t">{{t.name}}</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-10">
                <button class="btn btn-info" (click)="updateRun(run)"> Update</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="delete" role="tabpanel" aria-labelledby="delete-tab">

        <h4 class="card-title">Are you sure you want to delete this run?</h4>
        <h5 class="card-title">{{run.title}}?</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{run.date}} - {{run.distance}} km</h6>
        <p class="card-text" *ngIf="run.time"><span>Time: </span>{{run.time}} min</p>
        <p class="card-text" *ngIf="run.time"><span>Speed: </span>{{run.avspeed}} min/km</p>
        <p class="card-text" *ngIf="run.score"><span>Score: </span>{{run.score}} / 10</p>
        <p class="card-text"><span>Training: </span>{{run.training.name}}</p>
        <p class="card-text"><span>Comment: </span>{{run.comment}}</p>
        <button class="btn btn-danger" (click)="deleteRun(run)">YES, remove this run!</button>

      </div>

    </div>
  </div>
</div>