<div class="card">
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
        Name:
            <input class="form-control form-control-lg" placeholder="Title" id="runTitle"name="title" ngModel>
        
    </div>

    <div class="form-group">
        Date:
          <input class="form-control form-control-lg"  placeholder="yyyy-mm-dd" id="runDate" name="date" ngModel>
        
    </div>

    <div class="form-group">
        Distance:
            <input class="form-control form-control-lg"  placeholder="Distance" id="runDistance" name="distance" ngModel>
        
    </div>

    <div class="form-group">
   Comment:
            <input class="form-control form-control-lg"  placeholder="Comment" id="runComment"name="comment" ngModel>

    </div>

    <div class="form-group">
       Training:
            <select class="form-control" name="training" ngModel id="runTraining">
                <option disabled selected value>Select training</option>
                <option *ngFor="let t of trainings" value="{{t.id}}">{{t.name}}</option>
            </select>
      
    </div>
    
    <button type="submit" class="btn btn-success" >ADD THIS RUN</button>

</form>
</div>