<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <label>Name:
        <input type="text" class="form-control" placeholder="sub 3 hour marathon" name="name" ngModel>
      </label>
      <label>Description:
          <input type="text" class="form-control"  name="description" ngModel>
        </label>
  
      <label>type:
        <input type="text" class="form-control"  placeholder="Speed improvement" name="type" ngModel>
      </label>
      
      <button type="submit" class="btn btn-success" >Add training</button>
  </form>