
#main {
    padding-left: 1rem;
    padding-right: 1rem;
    
    
}
#title{
    text-align:center;
    padding: 0.29rem;
    margin: 0px;
}

#listContainer {
    padding: 0px;
}

h1 {
    color: #0c5460;
}

.list-group{
    border-radius: 0rem;
}

.list-group-item {
    border-radius: 0rem;
}