<div class="container-fluid" id="main">
    <h1 id="title">All runs</h1>
  <div class="row" id="contentContainer">
    <div class="col-lg">
      <app-run-detail [run]="selectedRun" class="container-fluid"></app-run-detail>
    </div>

    <div class="col col-lg-3" id="listContainer">
      <ul class="runs" class="list-group list-group-flush">
        <li *ngFor="let run of runs" [class.selected]="run === selectedRun"
        (click)="onSelect(run)" [ngClass]="giveClass(run.overdue, run.finished)">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{run.distance}} km</h5>
          <small class="text-muted">{{run.date}}</small>
        </div>
        <p class="mb">{{run.title}}</p>
        <small class="text-muted">{{run.training.name}}</small>
        </li>
      </ul>
    </div>
   
  </div>
</div>
